<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<h2>Search The Prophetico Way</h2>

<div class="row" style="display: block;margin-left: auto;margin-right: auto;">
<input type="text" [(ngModel)]="queryString" id="search" placeholder="Search to type" (keyup)="donut(items,queryString)">
<br>
  <ul>
    <li *ngFor="let n of items | FilterPipe: queryString">
      {{n.name}}
    </li>
  </ul>
</div>
<!--{{ items | FilterPipe: queryString | DataPipe: 'b' | json }}
{{ items | FilterPipe: queryString | DataPipe: 'a' | json }}-->
<!---->
<div *ngIf="doughnutChartData != ''">
    <div style="display: block">
      <canvas baseChart
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"
                  [colors]="chartColors"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
    </div>
    </div>
